.about{
    display: flex;
    
    justify-content: space-between;
    padding: 25px 75px 25px 75px;
    text-align: center;

}

.left-div{
    display: flex;
    width: 40%;
    flex-direction: column;
    
    text-align: left;

}
.right-div{
    width: 40%;

}
.img{
    width: 100%;

}
.desc{
    font-family: 'Muli';
font-style: normal;
font-weight: 300;
font-size: 21px;
line-height: 32px;
color: #7D7987;
padding: 0px 10px 0px 10px;
}

.btn{
  background-color:#458FF6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 55px;
  width: 40%;
  transition-duration: 0.4s;
    
    
}
.btn:hover
{
    background-color: rgb(159, 153, 153);
    color: black;
    
}